.about {
  @include center-mobile;

  font-family: "Open sans", "Arial", sans-serif;
  font-weight: bold;
}

.about__head {
  @include head3;

  padding: 26px 0 33px 28px;
}

.about__list {
  display: flex;
  //display: -ms-flexbox;

  flex-direction: column;
  //-ms-flex-direction: column;

  flex-wrap: wrap;
  // -ms-flex-wrap: wrap;

  align-items: baseline;

  margin: 0;
  padding: 0 30px;
}

.about__item {
  position: relative;

  padding-top: 53px;
  padding-right: 50px;
  padding-bottom: 30px;

  line-height: 20px;
  list-style: none;

  &--ecology {
    padding-right: 75px;

    &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: 8px;

      width: 32px;
      height: 37px;
      background-image: url("../img/icon-feature-flower.svg");
      background-repeat: no-repeat;
    }
  }

  &--style {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 47px;
      height: 27px;
      background-image: url("../img/icon-feature-money.svg");
      background-repeat: no-repeat;
    }
  }

  &--like {
    padding-right: 70px;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 8px;

      width: 34px;
      height: 27px;
      background-image: url("../img/icon-feature-heart.svg");
      background-repeat: no-repeat;
    }
  }

  &--ball {
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 3px;

      width: 35px;
      height: 34px;
      background-image: url("../img/icon-feature-ball.svg");
      background-repeat: no-repeat;
    }
  }

  &--support {
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: -5px;

      width: 55px;
      height: 23px;
      background-repeat: no-repeat;
      background-image: url("../img/icon-feature-rocket.svg");
    }
  }

  &--gift {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 35px;
      height: 34px;
      background-image: url("../img/icon-feature-gift.svg");
      background-repeat: no-repeat;
    }
  }
}

// =============================== планшет ================================

@media (min-width: $tablet-width) {
  .about {
    width: 668px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .about__head {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 50px;

    font-size: 43px;
    line-height: 55px;
  }

  .about__list {
    flex-direction: row;

    justify-content: flex-start;

    align-items: baseline;

    padding: 0;
  }

  .about__item {

    flex-basis: 327px;

    padding-top: 53px;
    padding-bottom: 58px;
    padding-right: 100px;
    padding-left: 0;

    box-sizing: border-box;

    font-size: 20px;
    line-height: 22px;

    &--ecology {
      order: 1;

      &::before {
        left: 9px;
      }
    }

    &--style {
      order: 3;

      padding-right: 65px;

      &::before {
        left: 1px;
      }
    }

    &--like {
      order: 5;

      &::before {
        left: 9px;
      }
    }

    &--ball {
      order: 2;

      padding-right: 50px;
      padding-left: 7px;

      &::before {
        left: 10px;
      }
    }

    &--support {
      order: 4;

      padding-right: 24px;
      padding-left: 7px;

      &::before {
        left: 2px;
      }
    }

    &--gift {
      order: 6;

      padding-right: 60px;
      padding-left: 7px;

      &::before {
        left: 9px;
      }
    }
  }
}

// =============================== десктоп ================================

@media (min-width: $desktop-width) {
  .about {
    width: 709px;
    margin: 0 auto;

    padding-top: 35px;
    padding-bottom: 31px;
  }

  .about__head {
    padding-bottom: 50px;

    font-size: 53px;
    line-height: 57px;
  }

  .about__list {
    padding-left: 3px;
  }

  .about__item {
    flex-basis: 344px;
    -ms-flex: 1 0 250px;

    padding-right: 50px;
    padding-bottom: 58px;

    font-size: 20px;
    line-height: 22px;

    &--style {
      padding-right: 10px;
    }

    &--support {
      padding-right: 10px;
    }
  }
}
