.about {
  @include center-mobile;

  font-family: "opensansbold", "Arial", sans-serif;

  .about__head {
    @include head3;

    padding: 30px;
  }

  .about__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 0;
    padding: 0 30px;
  }

  .about__item {
    position: relative;

    padding-top: 53px;
    padding-right: 50px;
    padding-bottom: 30px;

    font-weight: bold;
    list-style: none;

    &--ecology {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 32px;
        height: 37px;
        background-image: url("../img/icon-feature-flower.svg");
        background-repeat: no-repeat;
      }
    }

    &--style {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 47px;
        height: 27px;
        background-image: url("../img/icon-feature-money.svg");
        background-repeat: no-repeat;
      }
    }

    &--like {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 34px;
        height: 27px;
        background-image: url("../img/icon-feature-heart.svg");
        background-repeat: no-repeat;
      }
    }

    &--ball {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 35px;
        height: 34px;
        background-image: url("../img/icon-feature-ball.svg");
        background-repeat: no-repeat;
      }
    }

    &--support {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 55px;
        height: 23px;
        background-repeat: no-repeat;
        background-image: url("../img/icon-feature-rocket.svg");
      }
    }

    &--gift {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 35px;
        height: 34px;
        background-image: url("../img/icon-feature-gift.svg");
        background-repeat: no-repeat;
      }
    }
  }
}

// =============================== планшет ================================

@media (min-width: $tablet-width) {
  .about {
    @include center-tablet;

    
  }

}
