.catalog {
  @include center-mobile;
}

.catalog-page__head {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 72px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 75px;

  font-size: 27px;
  line-height: 30px;
  font-family: "Open sans", "Arial", sans-serif;
  font-weight: bold;
  text-align: center;

  background-color: #f1f1f1;
}

.catalog__card {
  margin: 0 auto;
  margin-bottom: 30px;

  width: 258px;

  border: 1px solid #ededed;

  &:hover .catalog__wrapper {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active .catalog__wrapper {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.cartalog__card-link {
  color: #000000;
}

.catalog__wrapper {
  position: relative;
}

.catalog__wrapper-link {
  color: #000000;
}

.catalog__header {
  margin: 0 26px;
  padding-top: 27px;

  font-family: "Open sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: left;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.catalog__photo {
  position: relative;

  display: block;
  width: 260px;
  height: 195px;

  background-color: #f1f1f1;

  z-index: 5;
}

.catalog__description {
  margin: 0 26px;
  margin-top: 4px;
  padding-bottom: 19px;

  font-size: 13px;
  line-height: 30px;
  font-family: "Open sans", "Arial", sans-serif;

  color: #444444;
}

.catalog__icon {
  position: relative;

  margin: 0 26px;
  padding: 21px 0 27px;

  font-size: 15px;
  line-height: 24px;
  font-family: "Open sans", "Arial", sans-serif;
  font-weight: bold;

  color: #000000;

  border-top: 1px solid #ececec;
}

.catalog__price {
  position: absolute;
  bottom: 31px;
  right: 1px;

  display: block;

  width: 20px;
  height: 19px;

  fill: rgba(0, 0, 0, 0.2);

  z-index: 5;

  &:hover {
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__wrapper-cart {
  width: 20px;
  height: 19px;
}

.manufacture {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 258px;
  margin: 0 auto;
  margin-bottom: 60px;

  border: 1px solid #ededed;

  &:hover .manufacture-wrapper-text {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active .manufacture-wrapper-text {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.manufacture-wrapper-player {
  position: absolute;

  top: 97px;
  left: 0;

  background-color: #f1f1f1;
}

.manufacture-video {
  display: block;
  width: 260px;
  height: 150px;

  border: none;
  background-color: #f1f1f1;
}

.manufacture-player-link {
  &:hover + .manufacture-video-button {
    transform: scale(1.2);
  }

  &:active + .manufacture-video-button {
    opacity: 0.3;
    transform: scale(0.8);
  }
}

.manufacture-video-button {
  position: absolute;

  bottom: 25%;
  left: 50%;

  width: 101px;
  height: 77px;

  margin-left: -51px;
  padding: 0;

  border: none;
  background-color: transparent;

  z-index: 5;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    opacity: 0.3;
    transform: scale(0.8);
  }
}

.manufacture-head {
  position: relative;
  margin: 0;
  padding: 24px 30px 175px 90px;

  font-size: 17px;
  line-height: 24px;
  font-family: "Open sans", "Arial", sans-serif;
  font-weight: bold;
  text-align: left;
  order: -1;

  &::before {
    content: "";

    position: absolute;
    top: 35px;
    left: 32px;

    width: 32px;
    height: 22px;
    background-image: url("../img/icon-video.svg");
  }
}

.manufacture-text {
  margin: 0 30px;
  margin-right: 36px;
  padding-top: 27px;
  padding-bottom: 24px;

  font-size: 13px;
  line-height: 24px;
  font-family: "Open sans", "Arial", sans-serif;

  color: #444444;
  border-bottom: 1px solid #ececec;
}

.manufacture-wrapper-text__button {
  position: relative;

  @include button;

  width: 192px;
  margin-bottom: 30px;
}

// ======================================= планшет =======================================

@media (min-width: $tablet-width) {
  .catalog-page {
    margin-top: -67px;
    margin-bottom: 65px;

    border-top: 1px solid #ededed;
  }

  .catalog {
    @include center-tablet;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .catalog-page__head {
    position: relative;

    font-size: 43px;
    line-height: 50px;

    margin-bottom: 68px;
    padding-top: 96px;
    padding-bottom: 90px;

    &::before {
      content: "";

      position: absolute;
      left: -10px;
      bottom: -1px;

      width: 100%;
      height: 23px;

      background-image: url("../img/bg-zigzag-fill-tablet.svg");
      background-repeat: repeat-x;

      z-index: 5;
    }
  }

  .catalog__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 668px;
    margin-bottom: 52px;
  }

  .catalog__header {
    padding-top: 25px;

    font-size: 20px;
  }

  .catalog__photo {
    position: relative;

    width: 334px;
    height: 334px;
  }

  .catalog-image {
    width: 334px;
    height: 334px;
  }

  .catalog__description {
    margin-top: 7px;
    font-size: 15px;
  }

  .catalog__icon {
    margin: 0 31px;
    margin-top: auto;

    font-size: 17px;

    border-top: 1px solid #ececec;
  }

  .catalog__price {
    right: 3px;
    bottom: 34px;
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: column;

    width: 334px;
  }

  .manufacture {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 668px;

    border: none;
  }

  .manufacture-wrapper-player {
    position: relative;
    top: auto;
    bottom: auto;
  }

  .manufacture-video {
    position: relative;
    top: 0;

    width: 682px;
    height: 455px;
  }

  .manufacture-video-button {
    bottom: 190px;
  }

  .catalog__wrapper-manufacture {
    display: flex;
    flex-direction: column;
  }

  .manufacture-head {
    padding-top: 37px;
    padding-left: 104px;
    padding-bottom: 25px;

    font-size: 20px;
    line-height: 24px;

    border: 1px solid #ececec;
    border-bottom: none;
    order: 0;

    &::before {
      top: 37px;
      left: 40px;
    }
  }

  .manufacture-text {
    margin: 0;
    padding-top: 8px;
    padding-right: 40px;
    padding-bottom: 35px;
    padding-left: 40px;

    font-size: 15px;
    line-height: 30px;

    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;

    border-bottom: none;
  }

  .manufacture-wrapper-text__button-wrapper {
    padding-bottom: 15px;
    border: 1px solid #ececec;
    border-top: none;
  }

  .manufacture-wrapper-text__button {

    width: 584px;
    margin-bottom: 30px;
  }
}

// =================================== десктоп ===================================

@media (min-width: $desktop-width) {
  .catalog-page {
    margin: 0 auto;
    margin-top: 31px;
  }

  .catalog-page__head {
    padding-top: 97px;
    padding-bottom: 111px;

    margin-top: -76px;

    font-size: 53px;
    line-height: 57px;

    &::before {
      content: "";

      position: absolute;
      left: 0;
      bottom: -10px;

      width: 100%;
      height: 34px;

      background-image: url("../img/wave-desktop-1150.svg");
      background-repeat: repeat-x;

      z-index: 5;
    }
  }

  .catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 1050px;
    margin: 0 auto;
    padding-top: 53px;
  }

  .catalog__card {
    display: flex;
    flex-direction: column;

    width: 316px;
    margin-left: 0;
    margin-right: 48px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:hover .catalog__wrapper {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active .catalog__wrapper {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .catalog__card-link {
    padding: 0;
    margin: 0;
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    width: 316px;
    min-height: 100px;

    padding-top: 25px;
  }

  .catalog__wrapper-link {
    padding-bottom: 0;
  }

  .catalog__description {
    padding-bottom: 15px;
  }

  .catalog__icon {
    padding-bottom: 28px;
    margin-left: 26px;
  }

  .catalog__photo {
    width: 316px;
    height: 462px;
  }

  .catalog-image {
    width: 316px;
    height: 462px;
  }

  .catalog__header {
    font-size: 20px;
    line-height: 24px;
    padding-top: 0;
  }

  .manufacture {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 1050px;
    min-height: 455px;

    margin-bottom: 107px;

    &:hover::before {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active::before {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .manufacture-wrapper-player {
    position: relative;
    bottom: 0;

    width: 682px;
    height: 455px;

    margin: auto 0;

    background-color: #f1f1f1;
  }

  .manufacture-video {
    width: 682px;
    height: 455px;
  }

  .manufacture-video-button {
    &:hover {
      transform: scale(1.2);
    }

    &:active {
      opacity: 0.3;

      transform: scale(0.8);
    }
  }

  .manufacture-wrapper-text {
    padding-left: 20px;
    border: 1px solid #ececec;
  }

  .manufacture-head {
    width: 350px;
    box-sizing: border-box;

    margin-left: auto;
    padding-top: 95px;
    padding-right: 55px;
    padding-left: 59px;

    border: none;

    &::before {
      top: 46px;
      left: 62px;
    }
  }

  .manufacture-text {
    width: 350px;
    box-sizing: border-box;

    margin-left: auto;

    padding-top: 8px;
    padding-right: 50px;
    padding-bottom: 46px;
    padding-left: 59px;

    border: none;
  }

  .manufacture-wrapper-text__button {
    width: 230px;

    margin: 0;
    margin-left: auto;
    margin-right: 58px;
  }

  .manufacture-wrapper-text__button-wrapper {
    border: none;
  }
}
