.comments {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 45px;

  font-family: "Open sans", "Arial", sans-serif;
  font-weight: bold;
}

.comments__head {
  @include head3;
  padding: 25px 30px 10px 30px;
}

.comments__slider-list {
  width: 260px;
  margin: 0 auto;
  padding-bottom: 11px;

  font-weight: normal;
  font-size: 15px;
  line-height: 30px;

  color: #444444;
}

.comments__slider-item {
  margin: 0;
}

.comments__sign {
  margin: 0;
  padding-bottom: 5px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  color: #000000;
}

.comments__sign-wrapper {
  width: 260px;
  margin: 0 auto;
}

.comments__mail {
  margin: 0;

  padding-bottom: 27px;

  font-weight: normal;
  font-size: 17px;
  line-height: 30px;

  color: #444444;
}

.comments__arrows {
  font-size: 0;
  padding: 0 30px 40px;
}

.comments__arrows-next {
  padding: 0;

  box-sizing: border-box;
  width: 130px;
  height: 50px;
  background-image: url("../img/huge-arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid #ececec;

  cursor: pointer;

  &--back {
    transform: rotate(180deg);
  }
}

.comments__button {
  @include button;
}


// =============================== планшет ================================

@media (min-width: $tablet-width) {
  .comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 668px;
    padding: 0 50px 87px 50px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px;
    }
  }

  .comments__head {
    padding: 0;
    padding-top: 77px;
    padding-bottom: 0;
    font-size: 43px;
    line-height: 50px;

    order: 1;
  }

  .comments__slider-list {
    width: 668px;
    margin: 0;
    padding-bottom: 9px;

    order: 3;
  }

  .comments__slider-item {
    width: 668px;
  }

  .comments__slider-text {
    margin-bottom: 0;

    font-size: 17px;
  }

  .comments__sign-wrapper {
    order: 4;

    margin: 0;
  }

  .comments__sign {
    padding-top: 50px;
  }

  .comments__arrows {
    margin-top: 60px;
    padding: 0;
    order: 5;
  }

  .comments__arrows-next {
    padding: 0;

    box-sizing: border-box;
    width: 87px;
    height: 36px;
    border: 0;
  }

  .comments__button {
    width: 176px;
    margin: 79px 0 28px 0;
    order: 2;
  }
}

// =============================== десктоп ================================

@media (min-width: $desktop-width) {
  .comments {
    width: 1050px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 135px;
  }

  .comments__head {
    padding: 0;
    padding-top: 70px;
    padding-left: 170px;

    font-size: 53px;
    line-height: 57px;
  }

  .comments__slider-list {
    width: 1050px;
  }

  .comments__slider-item {
    width: 1050px;
  }

  .comments__slider-text {
    width: 795px;

    margin-top: 16px;
    padding-left: 175px;
  }

  .comments__sign-wrapper {
    margin-left: 175px;

    order: 3;
  }

  .comments__sign {
    padding-top: 30px;
  }

  .comments__arrows {
    margin: 0;
    padding-top: 38px;

    order: 5;
  }

  .comments__arrows-next {
    background-position-x: 19px;

    &--back {
      background-position-x: 21px;
    }
  }

  .comments__button {
    margin-top: 79px;
  }
}
