.contact__block {
  @include center-mobile;
}

.contact__head {
  margin: 0;
  padding-bottom: 38px;

  font-family: "Open sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #000000;
}

.contact__list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  padding-bottom: 37px;

  list-style: none;
}


.contact__item {
  font-family: "Open sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 30px;
  margin-right: 30px;
  padding-bottom: 3px;

  &--underline {
    border-bottom: 1px solid #62d1ba;
  }
}


.contact__map-yandex {
  height: 456px;
  border: none;
}

.contact__button {
  @include button;
  margin: 30px auto;
}

// ================================== планшет ==================================

@media (min-width: $tablet-width) {
  .contact__block {
    @include center-tablet;
    padding-top: 67px;
  }

  .contact__wrapper {
    display: flex;
    justify-content: space-between;

    width: 668px;
    margin: 0 auto;
  }

  .contact__head {
    position: relative;

    padding: 0 50px 50px 50px;

    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";

      position: absolute;
      top: -10;
      right: 0;

      width: 57px;
      height: 81px;

      background-image: url("../img/flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contact__list {
    flex-basis: 305px;

    text-align: left;
  }

  .contact__map-yandex {
    height: 768px;
    border: none;
  }
}

// =============================== десктоп ================================

@media (min-width: $desktop-width) {
  .contact {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 1150px;
    margin: 0 auto;

    margin-top: 60px;
    margin-bottom: 60px;
  }

  .contact__block {
    width: 350px;
    margin-left: 50px;
  }

  .contact__head {
    padding-left: 175px;

    font-size: 53px;
    line-height: 57px;

    &--flag::after {
      content: "";

      position: absolute;
      top: 0;
      left: 50px;

      width: 47px;
      height: 81px;

      background-image: url("../img/flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contact__wrapper {
    display: flex;
    flex-direction: column;

    width: 350px;
    margin: 0;
    margin-left: 175px;
  }

  .contact__list {
    display: flex;
    justify-content: flex-start;

    flex-basis: 40px;
  }

  .contact__item {
    margin-right: 25px;

    font-size: 17px;
    line-height: 30px;
  }

  .contact__map {
    margin-left: 50px;
  }

  .contact__map-yandex {
    width: 525px;
    height: 457px;
    border: none;
  }

  .contact__button {
    position: absolute;
    left: 0;
    bottom: -29px;

    margin-left: 225px;
  }
}
