.contact {
  @include center-mobile;
  padding-top: 34px;
}


.contact__block {
  width: 260px;
  margin: 0 auto;
}

.contact__head {
  margin: 0;
  padding-bottom: 24px;

  font-family: "Open sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 34px;
  font-weight: bold;
  text-align: left;

  color: #000000;
}

.contact__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  padding-bottom: 30px;

  list-style: none;
}


.contact__item {
  font-family: "Open sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;

  &:first-child {
    flex-basis: 75px;
    flex-shrink: 0;
  }

  &--underline {
    border-bottom: 1px solid #62d1ba;
    line-height: 28px;
  }

  &--address {
    padding-bottom: 6px;
  }
}

.contact__map {
  width: 320px;
  height: 457px;
  margin: 0 auto;
}

.contact__map-yandex {
  width: 320px;
  height: 457px;

  border-width: 0;
}

.contact__button {
  @include button;
  margin: 36px auto 39px;
}

// ================================== планшет ==================================

@media (min-width: $tablet-width) {
  .contact {
    @include center-tablet;
  }

  .contact__block {
    width: 668px;
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 19px;
  }

  .contact__wrapper {
    display: flex;
    justify-content: space-between;

    width: 668px;
    margin: 0 auto;
  }

  .contact__head {
    position: relative;

    padding: 0 0 50px 0;

    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";

      position: absolute;
      top: -16px;
      right: 3px;

      width: 47px;
      height: 82px;

      background-image: url("../img/flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contact__list {
    justify-content: flex-start;
    flex-basis: 334px;

    text-align: left;
  }

  .contact__item {
    font-size: 17px;

    &--underline {
      position: relative;

      border: none;
    }

    &--underline::after {
      content: "";

      position: absolute;
      right: 0;
      bottom: 67px;

      width: 200px;
      height: 1px;

      background-color: #62d1ba;
    }
  }

  .contact__map {
    width: 768px;
    height: 457px;
  }

  .contact__map-yandex {
    width: 768px;
    height: 457px;
  }

  .contact__button {
    width: 230px;
    margin-top: 50px;
    margin-bottom: 57px;
  }
}

// =============================== десктоп ================================

@media (min-width: $desktop-width) {
  .contact {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 1150px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 105px;
    padding-top: 0;
  }

  .contact__block {
    width: 350px;
    margin-right: 175px;
    margin-left: 50px;
  }

  .contact__head {
    padding-top: 34px;
    padding-left: 170px;

    font-size: 53px;
    line-height: 57px;

    &--flag::after {
      content: "";

      position: absolute;
      top: 26px;
      left: 63px;

      width: 47px;
      height: 81px;

      background-image: url("../img/flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contact__wrapper {
    display: flex;
    flex-direction: column;

    width: 350px;
    margin: 0;
    margin-left: 175px;
  }

  .contact__list {
    display: flex;
    justify-content: flex-start;

    flex-basis: 40px;
    padding-bottom: 19px;
  }

  .contact__item {
    margin-right: 0;

    font-size: 17px;
    line-height: 30px;

    &--address {
      width: 265px;
    }
  }

  .contact__map {
    width: 525px;
    height: 457px;
    margin-left: 0;
    margin-top: -8px;
  }

  .contact__map-yandex {
    width: 525px;
    border: none;
  }

  .contact__button {
    position: absolute;
    left: 0;
    bottom: -57px;

    margin-left: 225px;
  }
}
