.footer {
  background-color: #f1f1f1;
}

.footer__wrapper {
  width: 320px;
  margin: 0 auto;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 0;
  margin: 0 30px;

  border-bottom: 1px solid #e5e5e5;
}

.footer__social-icon {
  margin: 0 20px;
}

.footer__social-inst {
  width: 22px;
  height: 21px;
  margin: 0 20px;

  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
}

.footer__social-fb {
  width: 15px;
  height: 28px;
  margin: 0 20px;

  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
}

.footer__social-twit {
  width: 23px;
  height: 20px;
  margin: 0 20px;

  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
}

.footer__maker {
  position: relative;
  width: 182px;
  margin: 0 auto;
}

.footer__maker-text {
  margin: 0;
  padding: 28px 0 32px;

  font-family: "Open sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  text-align: left;
  color: #000000;

  &--icon-academy {
    &::after {
      content: "";
      position: absolute;
      top: 19px;
      right: -7px;

      width: 40px;
      height: 50px;

      background-image: url("../img/htmlacademy.svg");
      background-repeat: no-repeat;
    }
  }
}

// =================================== планшет ===================================

@media (min-width: $tablet-width) {
  .footer__wrapper {
    @include center-tablet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 680px;
    padding-top: 26px;
    padding-bottom: 30px;
  }

  .footer__logo-miska {
    width: 102px;
    height: 34px;

    margin-left: 6px;
    margin-bottom: 5px;

    background-image: url("../img/logo-footer.svg");
  }

  .footer__social {
    margin: 0 auto;
    margin-left: 139px;
    padding-top: 28px;

    border-bottom: 15px;
  }

  .footer__maker {
    margin: 0;
    margin-right: 7px;
    padding-top: 9px;
  }

  .footer__maker-text {
    &--icon-academy {
      &::after {
        top: 28px;
      }
    }
  }
}

// =============================== десктоп ================================

@media (min-width: $desktop-width) {
  .footer__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding: 27px 0;
  }

  .footer__logo-miska {
    margin-left: 0;
  }

  .footer__social {
    margin-left: 329px;
  }

  .footer__maker {
    padding-top: 8px;
  }

  .footer__maker-text {
    &--icon-academy {
      padding-left: 3px;

      &::after {
        top: 28px;
        right: -12px;
      }
    }
  }

  // .footer__maker-text--icon-academy {
  //   &::after {
  //     top: 27px;
  //     right: -12px;
  //   }
}
