.footer {
  background-color: #f1f1f1;
}

.footer__wrapper {
  width: 320px;
  margin: 0 auto;
}

.footer__icon-miska {
  display: none;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;


  padding: 26px 0;
  padding-right: 7px;
  margin: 0 30px;

  border-bottom: 1px solid #e5e5e5;
}

.footer__social-icon {
  margin: 0 20px;
}

.footer__social-inst {
  width: 22px;
  height: 21px;
  margin: 0 20px;
}

.footer__icon-inst {
  width: 22px;
  height: 21px;

  &:hover {
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__social-fb {
  width: 15px;
  height: 28px;
  margin: 0 20px;

  &:hover {
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__icon-fb {
  width: 15px;
  height: 28px;

  &:hover {
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}


.footer__social-twit {
  width: 23px;
  height: 20px;
  margin: 0 20px;

  &:hover {
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__icon-twit {
  width: 23px;
  height: 20px;
}


.footer__maker {
  position: relative;
  width: 187px;
  margin: 0 auto;
}

.footer__maker-link {
  color: #000000;
  fill: #63d1bb;

  &:hover {
    color: #000000;
    fill: #46c1ae;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
    opacity: 0.3;
  }
}

// .footer__maker-link:hover {
//   color: #000000;
//   fill: #46c1ae;
// }


.footer__maker-text {
  margin: 0;
  padding: 28px 0 32px;

  font-family: "Open sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  text-align: left;
  // color: #000000;
}

.footer__icon-academy {
  position: absolute;
  top: 23px;
  right: 4px;

  width: 27px;
  height: 34px;

  // fill: #63d1bb;
}

// .footer__maker-link:hover .footer__icon-academy {
//   fill: #46c1ae;
// }
//
// .footer__maker-link:active {
//   opacity: 0.3;
// }


// =================================== планшет ===================================

@media (min-width: $tablet-width) {
  .footer__wrapper {
    @include center-tablet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 680px;
    padding-top: 26px;
    padding-bottom: 30px;
  }

  .footer__logo-miska {
    width: 102px;
    height: 34px;

    margin-left: 5px;
    margin-bottom: 4px;

    &:hover {
      fill: #63d1bb;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .footer__icon-miska {
    display: block;

    width: 102px;
    height: 34px;
  }

  .footer__social {
    margin: 0 auto;
    margin-left: 139px;
    padding-top: 32px;

    border-bottom: 15px;
  }

  .footer__maker {
    margin: 0;
    margin-right: 4px;
    padding-top: 9px;
  }

  .footer__icon-academy {
    top: 31px;
    right: 3px;
  }
}

// =============================== десктоп ================================

@media (min-width: $desktop-width) {
  .footer__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding: 27px 0;
  }

  .footer__logo-miska {
    width: 103px;
    height: auto;
    margin: 0;
  }

  .footer__icon-miska {
    width: 103px;
  }

  .footer__social {
    margin-left: 329px;
  }

  .footer__maker {
    padding-top: 8px;
  }

  .footer__maker-text {
    &--icon-academy {
      padding-left: 3px;
    }
  }

  .footer__icon-academy {
    top: 31px;
    right: -2px;

    width: 27px;
    height: 34px;
  }

  .icon-academy {
    width: 40px;
    height: 50px;
  }
}
