.form {
  font-family: "Open sans", "Arial", sans-serif;
}

.form-page {
  @include center-mobile;
}

.form__head {
  margin: 0;
  margin-bottom: 24px;
  padding-top: 72px;
  padding-bottom: 74px;

  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;

  background-color: #f1f1f1;
}

.form__text {
  width: 258px;
  margin: 0 30px;
  margin-bottom: 23px;

  font-size: 13px;
  line-height: 24px;
  font-family: "Open sans", "Arial", sans-serif;

  color: #444444;
}

.form-type {
  display: flex;
  flex-direction: column;

  width: 260px;
  margin: 0 auto;
  padding: 0;

  border: none;

  &--e-mail {
    padding-bottom: 13px;
  }
}

.form-type__wrapper {
  padding-bottom: 19px;

  &--name {
    padding-bottom: 8px;
  }

  &--phone {
    padding-bottom: 31px;
  }

  &--comment {
    padding-bottom: 0;
  }
}

.form-type__group-name {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;

  color: #63d1bb;

  &::after {
    content: "";

    flex-grow: 1;
    flex-shrink: 0;

    width: 50px;
    height: 1px;

    margin-left: 24px;

    background-color: #63d1bb;
  }
}

.form-type__label-wrapper {
  position: relative;
  padding-top: 35px;

  &--area {
    padding-top: 30px;
  }

  &--phone {
    padding-top: 6px;
  }
  //
  //   ::after {
  //     content: "";
  //
  //     position: absolute;
  //     bottom: 20px;
  //     right: 8px;
  //
  //     width: 25px;
  //     height: 24px;
  //
  //     background-image: url("../img/icon-phone.svg");
  //     opacity: 0.3;
  //   }
  // }

  &--e-mail {
    padding-top: 6px;
  }

  //   ::after {
  //     content: "";
  //
  //     position: absolute;
  //     bottom: 15px;
  //     right: 5px;
  //
  //     width: 32px;
  //     height: 27px;
  //
  //     background-image: url("../img/icon-mail.svg");
  //     opacity: 0.3;
  //   }
  // }
  //
  &--comment {
    padding-top: 24px;
  }
}

.form__icon-phone {
  position: absolute;
  bottom: 15px;
  right: 5px;

  width: 32px;
  height: 27px;

  fill: rgba(0, 0, 0, 0.3);
}

.form__icon-mail {
  position: absolute;
  bottom: 11px;
  right: 5px;

  width: 32px;
  height: 27px;

  fill: rgba(0, 0, 0, 0.3);
}

.form-type__label {
  position: relative;

  display: flex;

  padding-left: 62px;
  padding-bottom: 24px;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  cursor: pointer;

  &--checkbox {
    padding-bottom: 43px;
  }

  &--last {
    padding-bottom: 24px;
  }
}

.form-type__radio {
  appearance: none;
  font-size: 0;
}

.form-type__icon {
  position: absolute;
  top: -10px;
  left: 0;
  bottom: 40px;

  width: 35px;
  height: 35px;

  border: 2px solid #444444;
  border-radius: 50%;

  &:hover {
    border-color: #62d1ba;
  }

  &:active {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.form-type__radio:checked + .form-type__icon {
  background-image: url("../img/radio-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form-type__radio:focus + .form-type__icon {
  border-color: #62d1ba;
}


.form-type__checkbox {
  appearance: none;
  font-size: 0;
}

.form-type__checkbox-icon {
  position: absolute;
  left: 0;
  top: -10px;

  width: 37px;
  height: 36px;

  border: 2px solid #444444;

  &:hover {
    border-color: #62d1ba;
  }

  &:active {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.form-type__checkbox:focus + .form-type__checkbox-icon {
  border-color: #62d1ba;
}


.form-type__label-area {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.form-type__username {
  display: block;

  width: 260px;
  margin-bottom: 22px;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;


  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #444444;

  border: none;
  border-bottom: 2px solid #000000;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:active {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
  }


  // &:last-child {
  //   padding-bottom: 5px;
  // }
}

.form-type__phone {
  position: relative;

  width: 260px;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 18px;

  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #444444;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:active {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
  }
}

.form-type__phone:hover + .form__icon-phone {
  fill: #62d1ba;
}

.form-type__phone:active + .form__icon-phone {
  fill: #62d1ba;
}


.form-type__email {
  position: relative;

  width: 260px;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 18px;

  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #444444;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:active {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
  }
}

.form-type__email:hover + .form__icon-mail {
  fill: #62d1ba;
}

.form-type__email:active + .form__icon-mail {
  fill: #62d1ba;
}

.form-type__comments {
  width: 220px;
  height: 103px;

  padding: 18px;

  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  color: #444444;

  border: 2px solid #444444;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:active {
    border-color: #62d1ba;
  }

  &:focus {
    outline: 1px solid #62d1ba;
  }
}

.form-type__footnote-button-wrapper {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.form-type__footnote {
  padding-bottom: 16px;

  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  text-align: left;

  color: #444444;
}

.form__button {
  @include button;

  width: 260px;
}

// ======================================= планшет =======================================

@media (min-width: $tablet-width) {
  .form {
    margin: -66px;
    border-top: 1px solid #ededed;
  }

  .form-page {
    @include center-tablet;
  }

  .form__head {
    position: relative;

    font-size: 43px;
    line-height: 50px;

    margin-bottom: 61px;
    padding-top: 94px;
    padding-bottom: 92px;

    &::before {
      content: "";

      position: absolute;
      left: -13px;
      bottom: -1px;

      width: 100%;
      height: 23px;

      background-image: url("../img/bg-zigzag-fill-tablet.svg");
      background-repeat: repeat-x;

      z-index: 5;
    }
  }

  .form__text {
    width: 668px;

    margin: 0 auto;
    padding-bottom: 56px;

    font-size: 17px;
    line-height: 30px;
  }

  .form__color {
    width: 100%;
    margin-bottom: 50px;
    padding-top: 49px;
    background-color: #f1f1f1;
  }


  .form-type {
    width: 668px;
    margin: 0 auto;
    padding-bottom: 12px;

    &--e-mail {
      padding-top: 10px;
    }

    &--comment {
      padding-top: 35px;
    }
  }

  .form-type__wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    width: 668px;
    padding-top: 15px;
    padding-bottom: 0;

    &--name {
      margin-bottom: 15px;
      padding-top: 0;
    }

    &--phone {
      padding-top: 0;
    }

    &--e-mail {
      padding-top: 0;
    }

    &--comment {
      align-items: flex-start;

      margin-bottom: 38px;
    }
  }

  .form-type__label-wrapper {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // align-content: center;

    margin-left: 129px;
    padding-top: 0;
    padding-bottom: 0;

    &--color {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      margin-left: 122px;
    }

    &--area {
      display: flex;
      flex-wrap: wrap;

      margin-left: 124px;
    }

    &--phone {
      width: 100%;
      // display: flex;

      ::after {
        top: 0;
        right: 28px;
      }
    }

    &--e-mail {
      width: 100%;
      margin-left: 103px;

      // padding-bottom: 50px;

      ::after {
        top: 0;
        right: 23px;
      }
    }

    &--comment {
      margin-left: 121px;
    }
  }

  .form-type__label {
    position: relative;

    flex-basis: 500px;
    padding-left: 80px;
    padding-bottom: 58px;

    font-size: 19px;
    line-height: 18px;

    &--checkbox {
      flex-basis: 140px;

      &:nth-child(2n) {
        margin-left: 42px;
      }
    }
  }

  .form-type__icon {
    position: absolute;
    top: -14px;
    left: 0;
    width: 48px;
    height: 48px;
  }

  .form-type__radio:checked + .form-type__icon {
    background-size: 20px;
  }

  .form-type__checkbox-icon {
    left: 0;
    top: -14px;

    width: 50px;
    height: 49px;

    border: 2px solid #444444;
  }

  .form-type__checkbox:checked + .form-type__checkbox-icon {
    background-image: url("../img/tick-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 29px;
  }

  .form-type__group-name {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 17px;

    &::after {
      content: none;
    }

    &--comment {
      padding-top: 16px;
    }
  }

  .form-type__label-area {
    font-size: 19px;

    padding-top: 16px;
  }

  .form-type__username {
    flex-grow: 1;
    // display: inline-block;
    min-width: 350px;
    margin-left: 25px;
    margin-bottom: 24px;
    // padding-top: 0;
    padding-left: 18px;

    //
    // width: 260px;
    // margin-bottom: 0;
    // padding: 0;
    // padding-top: 0;
    // padding-bottom: 0;

    border: none;
    border-bottom: 2px solid #000000;
  }

  .form__phone {
    padding-top: 49px;
    padding-bottom: 37px;

    background-color: #f1f1f1;
  }


  .form-type__phone {
    width: 482px;
    padding-left: 18px;

    background-color: transparent;
  }

  .form__icon-phone {
    width: 25px;
    height: 24px;

    right: 27px;
    bottom: 18px;
  }

  .form__icon-mail {
    right: 23px;
  }

  .form-type__email {
    width: 482px;
    padding-left: 18px;

    background-color: transparent;
  }

  .form-type__comments {
    justify-content: flex-start;
    width: 462px;
    height: 112px;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .form-type__footnote-button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    width: 668px;
    margin: 0 auto;
    margin-bottom: 117px;
  }

  .form-type__footnote {
    font-size: 17px;
    margin: 0;
  }

  .form__button {
    width: 230px;
    margin: 0;
    order: -1;
  }
}

// ======================================= десктоп =======================================

@media (min-width: $desktop-width) {
  .form {
    margin-top: -41px;
  }

  .form-page {
    @include center-desktop;
  }


  .form__head {
    font-size: 53px;
    line-height: 57px;

    margin-bottom: 105px;
    padding-top: 92px;
    padding-bottom: 120px;

    &::before {
      left: -49px;
      height: 34px;

      background-image: url("../img/wave-desktop-1150.svg");
      background-repeat: repeat-x;
    }
  }

  .form__text {
    width: 700px;
    margin: 0 auto;
    padding-left: 195px;
    padding-right: 195px;
  }

  .form-type {
    width: 930px;
  }

  .form-type__label-wrapper {
    margin-left: 74px;

    &--color {
      width: 860px;
      margin-left: 70px;
    }

    &--phone {
      margin-left: 77px;

      ::after {
        top: -5px;
        right: 8px;
      }
    }

    &--e-mail {
      margin-left: 52px;

      ::after {
        top: -4px;
        right: 5px;
      }
    }

    &--comment {
      margin-left: 70px;
    }
  }


  .form-type__wrapper {
    &--color {
      width: 930px;
    }

    &--name {
      width: 815px;
    }

    &--phone {
      width: 815px;
    }

    &--e-mail {
      width: 815px;
    }

    &--comment {
      margin-bottom: 33px;
    }
  }

  .form-type__label {
    &--checkbox {
      flex-basis: 182px;

      &:nth-child(2n) {
        margin-left: 0;
      }
    }
  }

  .form-type__username {
    width: 520px;
  }

  .form-type__comments {
    width: 660px;
  }

  .form-type__phone {
    width: 682px;
  }

  .form-type__email {
    width: 682px;
  }

  .form__icon-phone {
    right: 9px;
  }

  .form__icon-mail {
    right: 4px;
  }


  .form-type__footnote-button-wrapper {
    width: 700px;
    margin-bottom: 117px;
  }

  .form-type__icon {
    &:hover {
      border-color: #62d1ba;
    }

    &:active {
      border-color: rgba(68, 68, 68, 0.3);
    }
  }

  .form-type__checkbox-icon {
    // &:hover {
    //   border-color: #62d1ba;
    // }
    //
    // &:active {
    //   border-color: rgba(68, 68, 68, 0.3);
    // }
  }
}
