.nav {
  display: block;
  width: 320px;
  margin: 0 auto;

  font-family: "Open sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.nav__list {
  padding: 0;
  margin-bottom: 0;
}

.nav__item {
  text-align: left;
  list-style: none;

  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;

  &--desktop-one,
  &--desktop-two {
    display: none;
  }

  &--thin {
    display: none;
  }
}

.nav__link {
  position: relative;

  display: block;
  padding-right: auto;
  padding-top: 26px;
  padding-bottom: 27px;
  padding-left: 75px;

  color: rgba(0, 0, 0, 1);


  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.icon-search {
  position: absolute;
  top: 31px;
  left: 32px;

  width: 18px;
  height: 18px;
}

.icon-cart {
  position: absolute;
  top: 29px;
  left: 30px;

  width: 21px;
  height: 19px;
}

.nav__link:hover .icon-search,
.nav__link:hover .icon-cart {
  fill: #63d1bb;
}

.nav__link:active .icon-search,
.nav__link:active .icon-cart {
  opacity: 0.3;
}

.nav-none {
  display: none;
}


// =============================== планшет ================================

@media (min-width: $tablet-width) {
  .nav {
    width: 768px;
    margin: 0;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;
  }

  // .nav__item {
  //   position: relative;
  //
  //   width: 167px;
  //
  //   padding-left: 3px;
  //   padding-right: 0;
  //   padding-top: 24px;
  //   padding-bottom: 30px;
  //
  //   font-size: 15px;
  //   line-height: 24px;
  //   text-align: left;
  //   list-style: none;
  //
  //   border-top: none;
  //   border-bottom: none;
  //
  //   &--one {
  //     padding-top: 17px;
  //   }
  //
  //   &--two {
  //     padding-top: 17px;
  //   }
  //
  //   &--thin {
  //     display: block;
  //     flex-grow: 1;
  //
  //     padding-right: 51px;
  //     // margin-left: auto;
  //
  //     font-weight: normal;
  //     line-height: 12px;
  //     text-align: right;
  //   }
  //
  //   &--cart {
  //     padding-left: 0;
  //     margin-bottom: 8px;
  //   }
  //
  //   &:nth-child(3) {
  //     order: -1;
  //
  //     width: 82px;
  //     margin-left: 320px;
  //
  //     font-size: 0;
  //
  //     border-left: 1px solid #ececec;
  //     border-right: 1px solid #ececec;
  //
  //     ::before {
  //       top: 13px;
  //       left: 35px;
  //       width: 24px;
  //       height: 24px;
  //     }
  //   }
  //
  //   &:nth-child(4) {
  //     order: -1;
  //
  //     width: 265px;
  //     padding-top: 30px;
  //     padding-right: 49px;
  //     padding-bottom: 27px;
  //     // margin-left: auto;
  //
  //     font-size: 17px;
  //     text-align: right;
  //
  //     ::before {
  //       top: 5px;
  //       left: 33px;
  //     }
  //   }
  // }
  //
  // .nav__link {
  //   padding: 0;
  // }
  // +++++++++++++++++++++++++++++проба+++++++++++++++++++++++++++++++++++++

  .nav__item {
    position: relative;

    width: 167px;

    padding-left: 3px;
    padding-right: 0;
    padding-top: 24px;
    padding-bottom: 30px;

    font-size: 15px;
    line-height: 24px;
    text-align: left;
    list-style: none;

    border-top: none;
    border-bottom: none;

    &--one {
      padding: 0;
    }

    &--two {
      padding: 0;
    }

    &--thin {
      display: block;
      flex-grow: 1;

      padding-right: 51px;
      // margin-left: auto;

      font-weight: normal;
      line-height: 12px;
      text-align: right;
    }

    &--cart {
      padding: 0;
      margin-bottom: 0;
    }

    &:nth-child(3) {
      order: -1;

      width: 82px;
      margin-left: 325px;
      padding: 0;

      font-size: 0;

      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;

      ::before {
        top: 13px;
        left: 35px;
        width: 24px;
        height: 24px;
      }
    }

    &:nth-child(4) {
      order: -1;

      width: 265px;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      // margin-left: auto;

      font-size: 17px;
      text-align: right;

      // &::before {
      //   top: 36px;
      //   left: 33px;
      // }
    }
  }

  .nav__link {
    padding: 0;

    &--one {
      padding-top: 18px;
      padding-left: 4px;
    }

    &--two {
      padding-top: 18px;
      padding-left: 5px;
    }

    &--icon-cart {
      padding-top: 30px;
      padding-right: 0;
      padding-bottom: 34px;
    }

    &--icon-search {
      padding-top: 30px;
      padding-bottom: 34px;
    }
  }

  // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  .icon-search {
    top: 36px;
    left: 33px;
  }

  .icon-cart {
    top: 35px;
    left: 31px;
  }
}

// =============================== десктоп ================================

@media (min-width: $desktop-width) {
  .nav {
    @include center-desktop;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 1050px;
    margin: 0 auto;
  }

  // .nav__item {
  //   position: relative;
  //
  //   width: 167px;
  //
  //   padding-left: 0;
  //   padding-right: 0;
  //   padding-top: 30px;
  //   padding-bottom: 30px;
  //
  //   font-size: 15px;
  //   line-height: 24px;
  //   text-align: left;
  //   list-style: none;
  //
  //   border-bottom: none;
  //
  //   &--one {
  //     width: 185px;
  //     border-right: 1px solid #ececec;
  //     font-size: 17px;
  //   }
  //
  //   &--two {
  //     width: 215px;
  //     padding-left: 35px;
  //     font-size: 17px;
  //   }
  //
  //   &--thin {
  //     display: block;
  //
  //     width: 265px;
  //     margin-left: auto;
  //     padding-top: 17px;
  //     padding-right: 0;
  //
  //     font-weight: normal;
  //     text-align: right;
  //   }
  //
  //   &--desktop-one {
  //     display: block;
  //
  //     padding-top: 17px;
  //
  //     width: 185px;
  //   }
  //
  //   &--desktop-two {
  //     display: block;
  //
  //     width: 215px;
  //     padding-top: 17px;
  //     padding-left: 35px;
  //   }
  //
  //   &--cart {
  //     width: 270px;
  //
  //     padding-right: 4px;
  //   }
  //
  //   &:nth-child(3) {
  //     order: 0;
  //
  //     width: 82px;
  //     margin-left: 265px;
  //
  //     font-size: 0;
  //
  //     border-left: 1px solid #ececec;
  //     border-right: 1px solid #ececec;
  //
  //     ::before {
  //       top: 6px;
  //       left: 30px;
  //     }
  //   }
  //
  //   &:nth-child(4) {
  //     order: 0;
  //
  //     width: 265px;
  //     padding-right: 0;
  //     margin-left: auto;
  //
  //     font-size: 17px;
  //     text-align: right;
  //   }
  // }


  // ++++++++++++++++++++++++++++++++++++++ проба +++++++++++++++++++++++++++++

  .nav__item {
    // width: 167px;

    padding: 0;

    // font-size: 15px;
    // line-height: 24px;
    // text-align: left;
    // list-style: none;

    // border-bottom: none;

    &--one {
      width: 185px;
      border-right: 1px solid #ececec;
      font-size: 17px;
    }

    &--two {
      width: 215px;
      padding-left: 0;
      font-size: 17px;
    }

    &--thin {
      display: block;

      width: 265px;
      margin-left: auto;
      padding-top: 24px;
      padding-right: 0;

      font-weight: normal;
      text-align: right;
    }

    &--desktop-one {
      display: block;

      width: 185px;
      padding-top: 0;
    }

    &--desktop-two {
      display: block;

      width: 215px;
      padding-top: 0;
      padding-left: 35px;
    }

    &--cart {
      width: 270px;

      padding-right: 4px;
    }

    &:nth-child(3) {
      order: 0;

      width: 82px;
      margin-left: 298px;

      font-size: 0;

      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;

      // ::before {
      //   top: 6px;
      //   left: 30px;
      // }
    }

    &:nth-child(4) {
      order: 0;

      width: 265px;
      padding-right: 0;
      margin-left: auto;

      font-size: 17px;
      text-align: right;
    }
  }

  .nav__link {
    padding: 0;

    &--one {
      padding-top: 31px;
      padding-bottom: 33px;
      padding-left: 0;
    }

    &--two {
      padding-top: 31px;
      padding-left: 33px;
      padding-bottom: 33px;
    }

    &--desktop-one {
      padding-top: 17px;
    }

    &--desktop-two {
      padding-top: 17px;
    }

    &--icon-cart {
      padding-top: 31px;
      padding-bottom: 33px;
    }

    &--icon-search {
      padding-top: 31px;
      padding-bottom: 33px;
    }
  }


  // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

  // .icon-search {
  //   top: 37px;
  //   left: 32px;
  //
  //   &:hover {
  //     fill: #63d1bb;
  //   }
  // }
  //
  .icon-cart {
    left: 29px;
  }
}
