.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    position: relative;

    display: flex;
    flex-direction: row;

    width: 768px;
    margin: 0 auto;

    z-index: 5;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;

    display: flex;
    flex-direction: row;

    width: 1150px;
    margin: 0 auto;

    z-index: 5;
  }
}
