.product-week {
  @include center-mobile;

  padding-bottom: 37px;

  font-family: "Open sans", "Arial", sans-serif;
}

.product-week__wrapper {
  padding: 0 30px;
}

.product-week__head {
  margin: 0;
  padding: 27px 0 5px 0;

  font-size: 25px;
  line-height: 30px;
  text-align: left;

  color: #000000;
}

.product-week__acsent {
  margin: 0;
  padding-bottom: 24px;

  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;

  color: #63d1bb;
}

.product-week__wrapper-description {
  display: flex;
  flex-direction: column;
}

.product-week__description {
  margin: 0;
  padding-bottom: 19px;

  font-size: 15px;
  line-height: 24px;
  text-align: left;

  color: #444444;
}

.product-week__table {
  width: 100%;
  padding-bottom: 27px;

  font-family: "Open sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  color: #444444;

  border-collapse: collapse;
}

.product-week__table-cell {
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  border-bottom: 1px solid #ececec;

  &:last-child {
    padding-left: 15px;
  }
}

.product-week__photo-mobile {
  width: 260px;
  height: 315px;
  margin: 0 auto;
  margin-top: 29px;
  padding-bottom: 24px;

  background-image: url("../img/triple-set-mobile@1x.jpg");
  background-color: #f1f1f1;
  order: 0;
}

.product-week__photo-tablet {
  display: none;
}

.product-week__photo-desktop {
  display: none;
}

.product-week__bay {
  order: 1;
}

.product-week__price {
  margin: 0;
  padding-bottom: 26px;

  font-family: "Open sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;

  color: #444444;
}

.product-week__button {
  @include button;
}


// =============================== планшет ================================

@media (min-width: $tablet-width) {
  .product-week {
    @include center-tablet;

    padding-bottom: 54px;
  }

  .product-week__wrapper {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 668px;
    margin: 0 auto;
    pading: 0;
    padding-top: 45px;
  }

  .product-week__head {
    width: 500px;
    padding: 0;
    // padding-top: 45px;

    font-size: 43px;
    line-height: 50px;
    text-align: left;

    color: #000000;
  }

  .product-week__acsent {
    width: 75px;
    padding: 0;
    padding-right: 28px;
    padding-left: 65px;

    font-size: 17px;
    font-weight: bold;
    line-height: 17px;
    text-align: center;

    color: #63d1bb;
  }

  .product-week__wrapper-description {
    position: relative;

    width: 668px;
    padding-top: 48px;
  }

  .product-week__description {
    width: 290px;
    padding-bottom: 37px;

    line-height: 30px;
  }

  .product-week__table {
    width: 290px;
    padding-top: 30px;
  }

  .product-week__table-cell {
    &:last-child {
      padding-left: 0;
    }
  }

  .product-week__bay {
    margin-right: auto;
    padding-top: 60px;
  }

  .product-week__price {
    padding-bottom: 32px;
    font-size: 20px;
  }

  .product-week__button {
    width: 290px;
  }

  .product-week__photo-mobile {
    display: block;
    position: absolute;

    width: 334px;
    height: 400px;
    right: 31px;
    bottom: 0;

    padding: 0;
    margin: 0;

    background-color: #f1f1f1;
  }
}

// =============================== десктоп ================================

@media (min-width: $desktop-width) {
  .product-week {
    @include center-desktop;

    padding-top: 133px;
    padding-bottom: 70px;
  }

  .product-week__wrapper {
    position: relative;
    padding: 30px 50px 0 50px;

    margin-left: 175px;
  }

  .product-week__head {
    width: 600px;

    font-size: 53px;
    line-height: 57px;

    padding-bottom: 30px;

    z-index: 5;
  }

  .product-week__acsent {
    position: absolute;

    top: 45px;
    left: -85px;
  }

  .product-week__table {
    padding-bottom: 30px;
  }

  .product-week__photo-tablet {
    display: none;
  }

  .product-week__photo-desktop {
    position: absolute;

    display: block;
    right: -210px;
    bottom: 0;

    width: 525px;
    height: 636px;

    padding: 0;
    margin: 0;
  }

  .page__break-zigzag {
    height: 20px;
  }
}
