.slider {
  .slider__list {
    padding: 0 30px 30px;
  }

  .slider__item {
    margin: 0;
  }

  .slider__text {
    margin: 0;
    padding-bottom: 65px;

    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    font-family: "Open sans", "Arial", sans-serif;
    color: #444444;
  }

  .slider__sign {
    margin: 0;

    font-size: 17px;
    line-height: 24px;
    font-family: "Open sans", "Arial", sans-serif;
    font-weight: bold;
  }
}
