@import "fonts.scss";
@import "variable.scss";
@import "mixin.scss";
@import "normalize.scss";
@import "global-style.scss";
@import "blocks/page-header.scss";
@import "blocks/site-menu.scss";
@import "blocks/nav.scss";
@import "blocks/page.scss";
@import "blocks/showcase.scss";
@import "blocks/product-week.scss";
@import "blocks/about.scss";
@import "blocks/comments.scss";
@import "blocks/slider.scss";
@import "blocks/contact.scss";
@import "blocks/footer.scss";

// страница каталога
@import "blocks/catalog.scss";

// страница формы
// @import "blocks/form.scss";
@import "source/sass/blocks/form-page.scss";
@import "blocks/form-type.scss";
@import "blocks/form-color.scss";
@import "blocks/form-name.scss";
@import "blocks/form-phone-mail.scss";
@import "blocks/form-comment-footnote.scss";

//модалка
@import "blocks/modal.scss";
